.hero-section {
  background-image: url("../../images/Professional\ Blog/background-image.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  /* padding: 10rem 5rem; */
}

.hero-navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 2rem;
}

.hero-icons {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.menu-search-icons {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}

li {
  list-style: none;
}

.menu-icon {
  color: var(--white-color);
}

.search-icon {
  display: none;
}

.menu-btn {
  color: var(--white-color);
}

.hero-text-container {
  padding: 4rem;
}


@media (max-width: 1023px) {
  #navbar-icon,
  #nav-icon,
  .navbar-icon,
  .search-icon {
    display: none;
  }
}

@media (min-width: 1024px) {
  #overlay {
    display: none !important;
  }

  .hero-navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 2rem;
  }

  .hero-icons {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .menu-search-icons {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
  }

  li {
    list-style: none;
  }

  .search-icon {
    display: block;
    color: var(--white-color);
  }

  .nav-items {
    display: none;
  }
  
  #nav-icon {
    background-color: var(--button-highlighted-color);
    color: var(--icon-hero-color);
    border-radius: 12px;
    width: 20px; 
    height: 20px;
  }
  
  #navbar-icon {
    background-color: var(--white-color);
    color: var(--icon-hero-color);
    border-radius: 12px;
    width: 22px; 
    height: 22px;
  }
  
  .navbar-icon {
    background-color: var(--white-color);
    color: var(--icon-hero-color);
    border-radius: 12px;
    width: 22px; 
    height: 22px;
  }

  .hero-text-container {
    padding: 15rem;
  }

  .hero-mini-title {
    font-size: 2.25rem;
    line-height: 46px; 
    letter-spacing: -0.225px;
  }

  .hero-paragraph {
    font-size: 1.125rem;
    line-height: 32px; 
    letter-spacing: -0.112px;
  }
}