.freelance-section {
  padding: 4rem 1rem;
}

.freelance-image-text-container {
  margin-bottom: 3rem;
}

.freelance-image {
  width: 100%;
  margin-bottom: 1.5rem;
}

.insta-section {
  padding: 0 1rem 2.5rem;
}

.insta {
  color: var(--secondary-color);
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.175px;
  text-align: center;
  margin-bottom: 4rem;
}

.freelance-images {
  width: 100%;
  margin-bottom: 2.5rem;
}

.subcribe-btn {
  border-radius: 10px;
  background-color: var(--subscribe-background-color);
  border: 1px solid var(--subscribe-background-color);
  color: var(--white-color);
  padding: 0.5rem 1rem;
  font-size: 1.125rem;
  font-weight: 600;
  letter-spacing: -0.375px;
}

@media (min-width: 650px) {
  .freelance-section {
    padding: 4rem 3rem;
  }

  .freelance-images-container {
    padding: 0 3rem;
  }
}

@media (min-width: 1200px) {
  .freelance-section {
    padding: 6.5rem 10rem;
  }
  
  .freelance-container {
    display: flex;
    gap: 2.5rem;
    align-items: flex-start;
  }

  .insta-section {
    padding-bottom: 5rem;
  }

  .insta {
    font-size: 1.75rem;
  }

  .freelance-images-container {
    display: flex;
    gap: 2rem;
  }

  .freelance-images {
    margin-bottom: 0;
  }
}