.new-flex {
  padding: 4rem 0 0;
}

.new-background-image {
  background-image: url("../../images/Business\ Blog/background.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.new-text-flex {
  padding: 2rem 0 0;
}

.date-description-flex {
  margin: 2rem;
}

.date {
  color: #9B9B9B;
  font-size: 1rem;
  font-weight: 400;
  line-height: 24px; 
  letter-spacing: -0.1px;
  margin-bottom: 0.5rem;
}

.date-description {
  color: #111210;
  font-size: 1rem;
  font-weight: 600;
  line-height: 24px; 
  letter-spacing: -0.1px;
}

@media (max-width: 992px) {
  .new-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media (min-width: 1200px) {
  .new-flex {
    display: flex;
    gap: 2rem;
    padding: 6rem 5rem 0;
  }

  .new-background-image {
    padding-bottom: 10rem;
  }

  .new-text-flex {
    width: 100%;
  }
}



