.random-section {
  padding: 3rem 1rem 0;
}

.random-container {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
}

.random-essentials-text-container {
  order: 2;
}

.random-image-container {
  order: 1;
}

.random-image {
  width: 100%;
  border-radius: 8px;
}

@media (min-width: 650px) {
  .random-section {
    padding: 0 3rem;
  }
}

@media (min-width: 992px) {
  .random-container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
  }

  .random-essentials-text-container {
    order: 1;
  }

  .random-image-container {
    order: 2;
  }
}

@media (min-width: 1200px) {
  .random-section {
    padding: 6.5rem 10rem 0;
  }
}