.reading-lists {
  padding: 4rem 1rem 0;
}

.reading-view-all {
  color: #FF5480;
  font-size: 1rem;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.1px;
  display: none;
}

.reading-image-text-flex:not(:last-child) {
  margin-bottom: 3.5rem;
}

.reading-image {
  width: 100%;
  margin-bottom: 1.5rem;
  border-radius: 1rem;
}

.reading-lists-paragraph {
  color: #111210;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.15px; 
}

@media (min-width: 1200px) {
  .reading-lists {
    padding: 6rem 5rem 0;
  }
  
  .reading-lists-container {
    display: flex;
    gap: 2rem;
  }
}
