@import url('https://fonts.googleapis.com/css2? family= Open+Sans:wght@300;400;500;600;700;800 & display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.background-image-container {
    padding: 2.5rem 2rem 6rem;
    margin-bottom: 2.5rem;
  }

  .background-image-title {
    color: #FFF;
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px; 
    letter-spacing: -0.1px;
    margin-bottom: 0.625rem;
  }
  
  .background-image-mini-title {
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 24px; 
    letter-spacing: -0.175px;
    margin-bottom: 1.875rem;
  }
  
  .background-image-paragraph {
    color: #FFF;
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px; 
    letter-spacing: -0.1px;
  }

  #coloured-paragraph {
    color: #FF5480;
  }

  .heading-view {
    color: #111210;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.15px;
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .view-all {
    color: #9B9B9B;
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.1px;
    display: none;
  }
  
  

@media (min-width: 1200px) {
  .view-all-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }  

  .heading-view {
    text-align: start;
  }

  .view-all {
    display: block;
  }

  .background-image-container {
    border-radius: 1.5rem;
    margin-bottom: 0;
  }

  .background-image-mini-title {
    font-size: 1.75rem;
    line-height: 46px; 
  }
  
  .background-image-paragraph {
    line-height: 32px; 
  }
}


