nav {
  width: 100%;
  padding: 1.5rem 1.5rem 0;
}

/* TO HIDE ON LARGE */
.menu-button,
.close_icon {
  display: none;
}

nav ul {
  text-align: center;
}

nav li {
  list-style: none;
  cursor: pointer;
  margin-top: 2rem;
}

nav a {
  color: var(--white-color);
  font-size: 1rem;
  font-weight: 600;
}

.navbar-btn {
  border-radius: 10px;
  background: var(--button-highlighted-color);
  border: 1px solid var(--button-highlighted-color);
  color: var(--white-color);
  font-size: 1rem;
  font-weight: 600;
  padding: 0.5rem 1rem;
}

/* MEDIA QUERIES TO SHOW MENU BUTTON AND CLOSE ICON ON SMALL SCREENS */
@media (max-width: 1023px) {
  .navbar-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu-button {
    display: block;
    cursor: pointer;
  }

  .search-icon {
    display: none;
  }

  .close_icon {
    display: block;
    position: absolute;
    top: 30px;
    right: 30px;
    color: var(--white-color);
  }

  #overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--overlay-background-color);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 10000;
  }
}

@media (min-width: 650px) {
  nav {
    padding: 1.5rem 3rem 0;
  }
}
/* MEDIA QUERIES TO SHOW NAVBAR ITEMS ON LARGE SCREENS */
@media (min-width: 1024px) {
  nav {
    padding: 2.5rem 5rem 0;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navbar-desktop-flex {
    display: flex;
    gap: 5rem;
  }

  nav a {
    color: var(--primary-color);
    font-size: 1rem;
    font-weight: 600;
  }
      
  nav ul {
    display: flex;
    align-items: center;
    gap: 2rem;
    text-align: start;
  }

  nav li {
    margin-top: 0;
  }
}

@media (min-width: 1200px) {
  nav {
    padding: 2.5rem 10rem 0;
  }
}

/* OVERLAY ANIMATION FOR SMALL SCREENS */
.slide-from-right {
    animation-name: slideFromRight;
    animation-duration: 1s;
    animation-timing-function: ease-out;
  }
  
  @keyframes slideFromRight {
    from {
      /* Start the animation from the right edge */
      transform: translateX(100%);
    }
  
    to {
      /* Slide the overlay to the left */
      transform: translateX(0);
    }
  }
